<section class="section mt-5 mb-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div *ngIf="eventos.length === 0" class="col-12">
                <div class="alert alert-warning" role="alert">
                    No hay eventos disponibles.
                </div>
            </div>

            <div *ngFor="let evento of eventos" class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ evento.codigo_sala }}</h5>
                        <p class="card-text">Estado: {{ evento.estado }}</p>
                        <p class="card-text">Fecha de inicio: {{ evento.fecha_inicio | date:'short' }}</p>
                        <p class="card-text">Comentario: {{ evento.comentario }}</p>
                        <!-- <p class="card-text"><small class="text-muted">Creado por: {{ evento.usuario }}</small></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>