<div *ngIf="registroEnviado && !registroExitoso"
    class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-4 text-center shadow rounded" style="max-width: 500px;">
        <h4>Registrando...</h4>
        <p>Estamos enviando un correo de verificación. Por favor espera un momento.</p>
    </div>
</div>

<div *ngIf="registroExitoso" class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-4 text-center shadow rounded" style="max-width: 500px;">
        <h4>¡Registro exitoso!</h4>
        <p>Te hemos enviado un correo con un enlace de verificación.</p>
        <p>Por favor, revisa tu bandeja de entrada y haz clic en el enlace para activar tu cuenta.</p>
        <p>Si no lo ves, revisa la carpeta de spam o correo no deseado.</p>
    </div>
</div>

<div *ngIf="!registroEnviado && !registroExitoso"
    class="container vh-100 d-flex justify-content-center align-items-center mb-2">
    <div class="card shadow-lg border-0 rounded-4 p-4 w-100" style="max-width: 600px;">
        <h4 class="text-center mb-4">
            {{ token == null ? 'Registro de Usuario' : 'Editar perfil' }}
        </h4>

        <form [formGroup]="formUsuario" (ngSubmit)="save()">
            <!-- Nombre -->
            <div class="form-floating mb-3">
                <input type="text" formControlName="nombre" class="form-control" id="nombre"
                    placeholder="Nombre completo">
                <label for="nombre">Nombre completo</label>
                <div *ngIf="formUsuario.get('nombre')?.touched && formUsuario.get('nombre')?.invalid">
                    <small class="text-danger" *ngIf="formUsuario.get('nombre')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('nombre')?.errors?.['minlength']">Debe tener al
                        menos 3 caracteres.</small>
                </div>
            </div>

            <!-- Email -->
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                <label for="email">Correo electrónico</label>
                <div *ngIf="formUsuario.get('email')?.touched && formUsuario.get('email')?.invalid">
                    <small class="text-danger" *ngIf="formUsuario.get('email')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('email')?.errors?.['email']">Formato de email
                        inválido.</small>
                </div>
            </div>

            <!-- Username -->
            <div class="form-floating mb-3">
                <input type="text" formControlName="username" class="form-control" id="username"
                    placeholder="Nombre de usuario">
                <label for="username">Nombre de usuario</label>
                <div *ngIf="formUsuario.get('username')?.touched && formUsuario.get('username')?.invalid">
                    <small class="text-danger" *ngIf="formUsuario.get('username')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('username')?.errors?.['minlength']">Mínimo 3
                        caracteres.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('username')?.errors?.['maxLength']">Máximo 20
                        caracteres.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('username')?.errors?.['usernameEnUso']">
                        El nombre de usuario ya está en uso. Por favor, elige otro.
                    </small>
                </div>
            </div>

            <!-- Password -->
            <div class="form-floating mb-3" *ngIf="token == null">
                <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Contraseña">
                <label for="password">Contraseña</label>
                <div
                    *ngIf="formUsuario.get('password')?.touched && formUsuario.get('password')?.invalid && token == null">
                    <small class="text-danger" *ngIf="formUsuario.get('password')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('password')?.errors?.['minlength']">Mínimo 3
                        caracteres.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('password')?.errors?.['maxLength']">Máximo 20
                        caracteres.</small>
                </div>
            </div>

            <div class="form-floating mb-3" *ngIf="token == null">
                <input type="password" formControlName="passconfirm" class="form-control" id="passconfirm"
                    placeholder="Confirmar contraseña">
                <label for="passconfirm">Confirmar Contraseña</label>
                <div
                    *ngIf="formUsuario.get('passconfirm')?.touched && formUsuario.get('passconfirm')?.invalid && token == null">
                    <small class="text-danger" *ngIf="formUsuario.get('password')?.errors?.['required']">La confirmación
                        de la contraseña es obligatoria.</small>
                </div>
                <div *ngIf="formUsuario.hasError('passNoCoinciden')" class="text-danger">
                    <small>Las contraseñas no coinciden.</small>
                </div>
            </div>


            <!-- Teléfono -->
            <div class="form-floating mb-3">
                <input type="text" formControlName="telefono" class="form-control" id="telefono" placeholder="Teléfono">
                <label for="telefono">Teléfono</label>
                <div *ngIf="formUsuario.get('telefono')?.touched && formUsuario.get('telefono')?.invalid">
                    <small class="text-danger" *ngIf="formUsuario.get('telefono')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formUsuario.get('telefono')?.errors?.['pattern']">Debe ser un
                        teléfono válido (empiece con 6-9, 9 dígitos).</small>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-3 mt-4">
                <button class="btn btn-success px-4" type="submit" [disabled]="formUsuario.invalid">
                    <i class="bi bi-check me-2"></i>
                    {{ token == null ? 'Registrar' : 'Guardar cambios' }}
                </button>

                <button *ngIf="token != null" type="button" class="btn btn-outline-danger px-4"
                    (click)="eliminarUsuario()" title="Eliminar usuario">
                    <i class="bi bi-trash3 me-2"></i>
                    Eliminar usuario
                </button>
            </div>

            <div *ngIf="token == null" class="text-center mt-3">
                <p>
                    ¿Ya tienes una cuenta?
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-decoration-none
                        fw-semibold">Inicia sesión</a>
                </p>
            </div>
        </form>
    </div>
</div>