<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg border-0 rounded-4 p-4 w-100" style="max-width: 600px;">
        <h4 class="text-center mb-4">Cambiar contraseña</h4>

        <form [formGroup]="formContrasena" (ngSubmit)="save()">
            <!-- Password -->
            <div class="form-floating mb-3">
                <input type="password" formControlName="passnueva" class="form-control" id="passnueva"
                    placeholder="Contraseña">
                <label for="passnueva">Contraseña nueva</label>
                <div *ngIf="formContrasena.get('passnueva')?.touched && formContrasena.get('passnueva')?.invalid">
                    <small class="text-danger" *ngIf="formContrasena.get('passnueva')?.errors?.['required']">Este campo
                        es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formContrasena.get('passnueva')?.errors?.['minlength']">Mínimo 3
                        caracteres.</small>
                    <small class="text-danger" *ngIf="formContrasena.get('passnueva')?.errors?.['maxLength']">Máximo 20
                        caracteres.</small>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="password" formControlName="passconfirm" class="form-control" id="passconfirm"
                    placeholder="Confirmar contraseña">
                <label for="passconfirm">Confirmar Contraseña</label>
                <div *ngIf="formContrasena.get('passconfirm')?.touched && formContrasena.get('passconfirm')?.invalid">
                    <small class="text-danger" *ngIf="formContrasena.get('passconfirm')?.errors?.['required']">La
                        confirmación
                        de la contraseña es obligatoria.</small>
                </div>
                <div *ngIf="formContrasena.hasError('passNoCoinciden')" class="text-danger">
                    <small>Las contraseñas no coinciden.</small>
                </div>
            </div>

            <!-- Botón -->
            <div class="d-grid">
                <button class="btn btn-success btn-lg" type="submit" [disabled]="formContrasena.invalid">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>