<div class="container mt-4 mb-4">
  <div class="card shadow-sm">
    <div class="card-header text-white">
      <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
        <h5 class="mb-0">Lista de Solicitudes para </h5>
      </div>
    </div>

    <div class="card-body">
      <div *ngIf="solicitudes.length === 0" class="alert alert-warning text-center mb-0" role="alert">
        <b>No hay solicitudes disponibles.</b>
      </div>

      <div class="table-responsive" *ngIf="solicitudes.length > 0">
        <table class="table table-hover align-middle">
          <thead class="table-light text-center">
            <tr>
              <th scope="col">Estado</th>
              <th scope="col">Usuario</th>
              <th *ngIf="rol === 'USER'" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let solicitud of solicitudes;">
              <td>
                <span class="badge" [ngClass]="{
                  'bg-secondary': solicitud.estado.toString() === 'PENDIENTE',
                  'bg-success': solicitud.estado.toString() === 'ACEPTADA',
                  'bg-danger': solicitud.estado.toString() === 'RECHAZADA'
                }">
                  {{ solicitud.estado }}
                </span>
              </td>
              <td>
                {{ nombreUsuarios[solicitud.id] }}
              </td>
              <td *ngIf="rol === 'USER'">
                <button type="button" class="btn btn-success me-2" *ngIf="solicitud.estado.toString() !== 'PENDIENTE'"
                  (click)="aceptarSolicitud(solicitud.id)" disabled>
                  Aceptar
                </button>
                <button type="button" class="btn btn-danger" *ngIf="solicitud.estado.toString() !== 'PENDIENTE'"
                  (click)="rechazarSolicitud(solicitud.id)" disabled>
                  Rechazar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-secondary volver ms-5 mb-2" (click)="volver()"><i class="bi bi-arrow-left"></i>
  Volver
</button>