button.btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* NAVBAR */
.navegacion {
    background-color: #581845; /* fondo oscuro */
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* amarillo Bootstrap */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #212529;
}

.dropdown-toggle {
    cursor: pointer;
}