<nav class="navbar navbar-expand-lg navegacion">
    <a class="navbar-brand ms-3" [routerLink]="['/']" style="color: white;">MRGG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item me-1" *ngIf="token == null || token != null">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/']">
                    <i class="bi bi-house"></i> Inicio
                </a>
            </li>
            <li class="nav-item me-1 ms-1" *ngIf="rol == 'ADMIN'">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/usuarios']">
                    <i class="bi bi-people"></i> Usuarios
                </a>
            </li>
            <li class="nav-item me-1 ms-1" *ngIf="rol == 'ADMIN'">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/juego/crear']">
                    <i class="bi bi-controller"></i> Crear juego
                </a>
            </li>
            <li class="nav-item me-1 ms-1" *ngIf="rol == 'USER'">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/misEventos']">
                    <i class="bi bi-calendar2-event"></i> Eventos creados
                </a>
            </li>
            <li class="nav-item me-1 ms-1" *ngIf="rol == 'USER'">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/solicitudes/enviadas']">
                    <i class="bi bi-hourglass"></i> Solicitudes enviadas
                </a>
            </li>

            <li class="nav-item me-1 ms-1" *ngIf="token != null">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/mensajes']">
                    <i class="bi bi-inbox"></i> Mensajes
                </a>
            </li>
        </ul>
    </div>

    <div class="d-flex ms-auto me-5" style="color: white;">
        <div class="dropdown" *ngIf="token != null">
            <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img [src]="foto" alt="avatar" class="me-2">{{ nombreUsuario }} ({{rol}})
            </span>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li *ngIf="rol == 'USER' || rol == 'ADMIN'">
                    <a class="dropdown-item" [routerLink]="[rol === 'ADMIN' ? '/admin/editar' : '/usuario/editar']">
                        Editar usuario
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" [routerLink]="['/actor/actualizarContrasena']">Cambiar contraseña</a>
                </li>
                <li>
                    <button class="btn btn-danger ms-4 mt-2" (click)="logout()">Cerrar sesión</button>
                </li>
            </ul>
        </div>

        <button class="btn btn-light me-0"
            *ngIf="token == null && obtenerRuta() != '/login' && obtenerRuta() != '/usuario/nuevo'"
            (click)="login()">Iniciar
            sesión
        </button>
    </div>
</nav>