<nav class="navbar navbar-expand-lg navegacion mb-1">
    <a class="navbar-brand ms-3" href="#" style="color: white;">MRGG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

    <div class="d-flex ms-auto me-5" style="color: white;">
        <div class="dropdown" *ngIf="token != null">
            <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ nombreUsuario }}
            </span>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" [routerLink]="['/usuario/editar']">Editar usuario</a></li>
                <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>

            </ul>
        </div>

        <button class="btn btn-light me-0" *ngIf="token == null && obtenerRuta() != '/login'" (click)="login()">Iniciar
            sesión</button>
    </div>
</nav>