<div class="container vh-100 d-flex justify-content-center align-items-center mb-2">
    <div class="card shadow-lg border-0 rounded-4 p-4 w-100" style="max-width: 600px;">
        <h4 class="text-center mb-4">Crear juego</h4>

        <form [formGroup]="formJuego" (ngSubmit)="save()">
            <!-- Nombre -->
            <div class="form-floating mb-3">
                <input type="text" formControlName="nombre" class="form-control" id="nombre"
                    placeholder="Nombre completo">
                <label for="nombre">Nombre</label>
                <div *ngIf="formJuego.get('nombre')?.touched && formJuego.get('nombre')?.invalid">
                    <small class="text-danger" *ngIf="formJuego.get('nombre')?.errors?.['required']">Este campo es
                        obligatorio.</small>
                    <small class="text-danger" *ngIf="formJuego.get('nombre')?.errors?.['minlength']">Debe tener al
                        menos 3 caracteres.</small>
                </div>
            </div>

            <!-- Descripción -->
            <div class="form-floating mb-3">
                <textarea formControlName="descripcion" class="form-control" placeholder="Descripción del juego"
                    id="descripcion" style="height: 100px">
                </textarea>
                <label for="descripcion">Descripción</label>

                <div *ngIf="formJuego.get('descripcion')?.touched && formJuego.get('descripcion')?.invalid">
                    <small class="text-danger" *ngIf="formJuego.get('descripcion')?.errors?.['required']">
                        Este campo es obligatorio.
                    </small>
                </div>
            </div>


            <!-- Categoría -->
            <div class="form-floating mb-3">
                <select formControlName="categoria" class="form-select" id="categoria">
                    <option value="" disabled selected>Selecciona una categoría</option>
                    <option value="DEPORTES">Deportes</option>
                    <option value="SHOOTER">Shooter</option>
                    <option value="CARRERAS">Carreras</option>
                    <option value="LUCHA">Lucha</option>
                    <option value="SURVIVAL">Survival</option>
                    <option value="SANDBOX">Sandbox</option>
                </select>
                <label for="categoria">Categoría</label>

                <div *ngIf="formJuego.get('categoria')?.touched && formJuego.get('categoria')?.invalid">
                    <small class="text-danger" *ngIf="formJuego.get('categoria')?.errors?.['required']">
                        Este campo es obligatorio.
                    </small>
                </div>
            </div>

            <!-- Botón -->
            <div class="d-flex justify-content-end gap-3 mt-4">
                <!-- Botón Registrar / Guardar -->
                <button class="btn btn-success px-4" type="submit" [disabled]="formJuego.invalid">
                    <i class="bi bi-check-circle me-2"></i>
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>